@using Abp.Authorization.Users
@using internPJ3.Web.Models.Common.Modals
@using internPJ3.Web.Models.Cart
@using internPJ3.Web.Models.Shop
@model CartModel


@{
  Layout = "~/Views/Shop/Layout/_ShopLayout2.cshtml";
  int result;
}


<body class="bg-light p-4">
  <div class="container-fluid bg-white p-3 mt-5 mb-5 rounded shadow-lg" style="width:80%;">
    <div class="row w-100" style="width:80%">
      <div class="col-md-9">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">@L("Product")</th>
              <th scope="col">@L("Price")</th>
              <th scope="col" style="text-align: center;">@L("Quantity")</th>
              <th scope="col" style="text-align: center;">@L("Subtotal")</th>
            </tr>
          </thead>
          <tbody>
            @*For Each*@
            @* @foreach (var item in Model.CartItemList.FirstOrDefault().ListProducts) *@
            @foreach (var item in Model.CartItemList)
            {
                <tr>
                  <td class="d-flex align-items-center">
                  <img src="@item.ProductImagePath" class="img-fluid mr-3" style="width: 100px; height: 100px;">
                    <div class="product-info">
                      <p class="mb-1 text-break">@item.ProductName</p>
                    </div>
                  </td>
                  <td class="product-price" style="vertical-align: middle;">@item.ProductPrice</td>
                  <td style="width: 130px;vertical-align: middle; ">


                    <div class="input-group" >
                      <div class="input-group-prepend">
                      <button class="btn btn-outline-info cart-decrement" type="button">-</button>
                      </div>
                    <input type="text" class="form-control text-center input-quantity" data-cart-id="@Model.Id" data-product-id="@item.ProductId" value="@item.OrderQuantity" style="width: 40px; max-width: 40px;">
                      <div class="input-group-append">
                      <button class="btn btn-outline-info cart-increment" type="button">+</button>
                      </div>
                    </div>




                  </td>

                <td class="sub-total" style="text-align: center; vertical-align: middle;">@(item.ProductPrice * item.OrderQuantity)</td>
                <td class="d-none">@(Model.TotalPrice)</td>

                </tr>
            }
            @*End For Each*@
          </tbody>
        </table>
        <div class="d-flex justify-content-between mt-4">
          <a class="btn btn-outline-info" href="Shop/Products">
            <i class="fas fa-arrow-left"></i> @L("ContinueViewProduct")
          </a>
          
        </div>
      </div>
      <div class="col-md-3">
        <div class="bg-light p-4 rounded">
          <h2 class="h5 font-weight-bold mb-4">CỘNG GIỎ HÀNG</h2>

          <div class="d-flex justify-content-between mb-2 total-price-container">
            <span>Tạm tính</span>
            <span class="total-price">@Model.TotalPrice</span>
          </div>

          <div class="d-flex justify-content-between mb-4 ">
            <span>Tổng</span>
            <span>
              @(Model.TotalPrice + (Model.TotalPrice * Model.Coupon) / 100)
            </span >
          </div>
          @* <button class="btn btn-danger btn-block mb-2" style="border-radius: 0.25rem;"> *@
          @*   MUA NGAY<br>Giao Tận Nơi Hoặc Nhận Tại Cửa Hàng *@
          @* </button> *@
          @* <button class="btn btn-primary btn-block mb-2" style="border-radius: 0.25rem;"> *@
          @*   TRẢ GÓP QUA THẺ<br>Visa, Master, JCB *@
          @* </button> *@
          @* <button class="btn btn-warning btn-block mb-2" style="border-radius: 0.25rem;"> *@
          @*   MUA NGAY - TRẢ SAU<br>HOME PayLater *@
          @* </button> *@
          <button class="btn btn-info btn-block mb-4" style="border-radius: 0.25rem;">Tiến hành thanh toán</button>
          <div class="bg-white p-4 rounded shadow">
            <h3 class="h6 font-weight-bold mb-2">
              <i class="fas fa-tag"></i> @L("Coupons")
            </h3>
            <input type="text" class="form-control mb-2" placeholder="@L("EnterCoupon")">
            <button class="btn btn-secondary btn-block">@L("Apply")</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>








<script src="~/view-resources/Views/Cart/index.js" asp-append-version="true"></script>