<ul class="sticky-top navbar-nav d-flex flex-row justify-content-center w-100 bg-info header-down" style="z-index:10">
  <li class="nav-item item-down mx-2">
    <a class="nav-link text-white px-4 py-2 d-block" href="/Shop"
       style="box-sizing: border-box;">@L("Home")</a>
  </li>
  <li class="nav-item item-down mx-2">
    <a class="nav-link text-white px-4 py-2 d-block" href="#"
       style="box-sizing: border-box;">@L("Contact")</a>
  </li>
  <li class="nav-item item-down mx-2">
    <a class="nav-link text-white px-4 py-2 d-block" href="#"
       style="box-sizing: border-box;">@L("About Us")</a>
  </li>
  <li class="nav-item item-down mx-2">
    <a class="nav-link text-white px-4 py-2 d-block" href="#"
       style="box-sizing: border-box;">@L("Feedback")</a>
  </li>
  <li class="nav-item item-down mx-2">
    <a class="nav-link text-white px-4 py-2 d-block" href="/Shop/Products"
       style="box-sizing: border-box;">@L("Product")</a>
  </li>
</ul>

<style>
  .header-down {
    background-color: cyan; /* Màu cyan cho cả thanh menu */
  }

  .navbar-nav .item-down .nav-link:hover {
      background-color: #007b9a ; /* Đậm hơn khi hover */
    }

</style>
